---
import Layout from '@/layouts/Layout.astro'
import Task from '@/components/tasks/Task.astro'
import TaskForm from '@/components/tasks/TaskForm.astro'
import Button from '@/components/Button.astro'

import { X } from 'lucide-astro'
---

<Layout title="Tasks">
    <div class='h-[inherit]"'>
        <div
            x-show="taskStore.openTaskFormDialog"
            x-transition:enter="ease-out duration-300"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="ease-in duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            @click="taskStore.openTaskFormDialog = false, taskStore.selectTask(null)"
            class="fixed inset-0 bg-white-500/75 transition-opacity backdrop-blur-md z-10"
            aria-hidden="true">
        </div>

        <div
            x-show="taskStore.openTaskFormDialog"
            class="fixed z-20 w-full max-lg:max-w-10/12 lg:max-w-8/12 xl:max-w-6/12 2xl:max-w-4/12">
            <Button
                @click="taskStore.openTaskFormDialog = false, taskStore.selectTask(null)"
                className="bg-white hover:opacity-80 shadow-md p-2 rounded-md mb-2"
                ><X /></Button
            >
            <TaskForm />
        </div>

        <section>
            <Button
                @click="taskStore.openTaskFormDialog = true, taskStore.selectTask(null)"
                className="bg-amber-400 hover:bg-amber-300 transition-colors delay-75 inline-block rounded-md text-white shrink-0">
                Add task
            </Button>
            <div class="grid gap-4 mt-8">
                <template x-for="task in taskStore.tasks">
                    <Task />
                </template>
            </div>
        </section>
    </div>
</Layout>
