---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'

const title = Astro.props.title
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            media="(prefers-color-scheme: dark)"
            href="/favicon.svg"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            media="(prefers-color-scheme: light)"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>

        <ClientRouter />
    </head>
    <body>
        <main class="h-[inherit]">
            <slot />
        </main>
    </body>
</html>
